@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,600;1,800&display=swap');


body {
    margin: 0;
    padding: 0;
}

body {
    background-image: url('img/img_cadastro.png');
    background-size: cover;
    background-repeat: no-repeat;
    font-family: 'Poppins', sans-serif;
}

a,
button {
    cursor: pointer;
}


/*HEADER ----------------------------------------------------------------*/
.header {
    background: rgb(83, 5, 98);
    background: linear-gradient(90deg, rgba(83, 5, 98, 1) 0%, rgba(80, 13, 142, 1) 28%, rgba(77, 6, 140, 1) 53%, rgba(0, 0, 0, 0.9859593495601365) 100%);
    height: 4.5rem;
    box-shadow: -1px 3px 11px -5px rgba(0, 0, 0, 0.747);
}



.container {
    display: flex;
    width: 90%;
    margin: auto;
}

.header .container {
    justify-content: space-between;
}

.navbar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    list-style: none;
    text-align: start;
}

.titulo {
    color: #ffffff;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.navbar li,
.navbar a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}

.logo-header img {
    margin-top: 0.5rem;
    width: 10rem;
    height: 3rem;
}

.img-conf {
    margin-right: 10px;
}

.perfil-div {
    width: 15%;
    height: 70rem;
    position: absolute;
    z-index: -1;
    background: rgb(43, 43, 43);
    background: linear-gradient(16deg, rgba(43, 43, 43, 1) 0%, rgba(67, 55, 156, 1) 0%, rgba(198, 179, 237, 0.845903327151173) 39%, rgba(255, 255, 255, 0.7618697137057948) 75%, rgba(255, 255, 255, 1) 100%);
    display: flex;
    flex-direction: column;
    margin-top: 9px;
    box-shadow: -1px 3px 11px -5px rgba(0, 0, 0, 0.747);
}


.container {
    display: flex;
    width: 97%;
    margin: auto;
    align-items: center;
    justify-content: center;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    text-align: start;
}

.titulo {
    color: #ffffff;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}



.navbar li,
.navbar a {
    color: #ffffff;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
}



.links {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 200px;
    list-style: none;
    margin-left: 50%;
    padding: 10px;
}

.links a {
    width: 80px;
    height: 19px;
    left: 16px;
    top: 11px;
    font-family: 'Secular One';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
    color: #FFFFFF;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 100px;
    list-style: none;
    margin-left: 75%;
    padding: 10px;
    text-decoration: none;
}

.logo-header img {
    margin-top: 0.5rem;
    width: 10rem;
    height: 3rem;
}

.primeiraParte {
    width: 25rem;
    height: 18rem;
    margin-left: -3rem;
}

.segundaParte {
    width: 25rem;
    height: 18rem;
}

.inputs {
    width: 55rem;
    height: 20em;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 6.5rem;
}

.formulario {
    background-color: #FFFFFF;
    width: 45rem;
    height: 30rem;
    margin-top: 70px;
    padding: 20px;
    border-radius: 20px;
    box-shadow: -1px 3px 11px -3px #60606081;
    margin-bottom: 5vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.formulario h1 {
    text-align: center;
    font-size: 2rem;
    font-family: 'Poppins';
    font-weight: 510;
    color: #3b3b3b;
    align-self: center;
}

.formulario span {
    text-align: center;
    font-family: 'Poppins';
    align-self: center;
    margin-bottom: 20px;
}

.formulario p {
    font-family: 'Poppins';
    align-self: center;
    margin-left: 1.8rem;
    margin-bottom: 7px;
    font-weight: 400;
    font-size: 1.2rem;
}

.formulario input {
    width: 17rem;
    height: 1.5rem;
    border-radius: 8px;
    border: 1px grey solid;
    padding: 8px;
    margin: 5px;
    box-shadow: -1px 3px 11px -3px #60606081;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: -10px;
}


.formulario select {
    width: 18.1rem;
    height: 2.7rem;
    border-radius: 8px;
    padding: 7px 15px;
    margin: 3px;
    border: 1px grey solid;
    margin-bottom: 5px;
    margin-left: 25px;
    margin-top: -10px;
    box-shadow: -1px 3px 11px -3px #60606081;
    font-size: 1.2rem;
}


.formulario button {
    background-color: #DEC43B;
    color: #FFFFFF;
    width: 140px;
    height: 45px;
    margin-top: 15px;
    border-radius: 8px;
    border: none;
    font-family: 'Poppins';
    font-weight: 600;
    font-size: 1rem;
    text-decoration: none;
    align-items: center;
    box-shadow: 0.2rem 0.2rem 0.3rem 0 #60606081;
}

a {
    color: #FFFFFF;
}

.footer {
    position: absolute;
    width: 100%;
    height: 9rem;
    background-color: #4B1761;



}

.logo-footer img {
    margin-top: 2rem;
    width: 10rem;
    height: 3rem;

}

.container-footer {
    display: flex;
    width: 80%;
    height: 100px;
    margin: auto;
}

.imagens {
    background-color: #ffffff;
    border-radius: 5px;
    width: 10px;
    height: 10px;
}

.redes {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
    margin-right: 25px;
}

hr {
    height: 120px;
}


.paginas-footer h4 {
    color: #ffffff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-bottom: 0.5rem;

}


.paginas-footer {
    color: #ffffff;
    display: flex;
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 1rem;
    line-height: 125%;
}

.paginas-footer li,
.paginas-footer a {
    color: #ffffff;
    text-decoration: none;
    list-style: none;
    margin-right: 4rem;
}